.modal__wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
  width: 1200px;
  height: 800px;
  background: #fff;
  border: 1px solid silver;
  .form {
    width: 100%;

    .label {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
  }
  .btns {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
